<h3>Pickup</h3>

<div class="row">
    <!-- modelをループで回して、3列毎に改行 MAX件数9件(SQLで絞る) -->
    <!-- model.each do |m| -->
        <div class="col-sm-4">a</div>
        <div class="col-sm-4">b</div>
        <div class="col-sm-4">c</div>
        <div class="col-sm-4">a</div>
        <div class="col-sm-4">b</div>
        <div class="col-sm-4">c</div>
        <div class="col-sm-4">a</div>
        <div class="col-sm-4">b</div>
        <div class="col-sm-4">c</div>
    <!-- end -->
</div>